  <% include ../partials/header %>
    <div class="container">
        <div class = "row">
            <div class="col-md-3">
                <p class="lead">YELP MKAMP</p>
                <div class ="list-group">
                    <li class="list-group-item active">info1</li>
                    <li class="list-group-item">info2</li>
                    <li class="list-group-item">info3</li>
                </div>
            </div>
            <div class="col-md-9">
                <div class="thumbnail">
                    <img class="img-responsive" src = "<%= campground.image %>">
                    <div class="caption-full">
                        <h4 class="pull-right">88888lv</h4>
                        <h4><a><%= campground.name %></a></h4>
                        <p><%= campground.description %></p>
                        <p>
                            <em></em>Submitted By: <%= campground.author.username %></em>
                        </p>
                        <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                            <form id="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        <% }; %>    
                    </div>
                </div>
                <div class="well">
                    <div class="text-right">
                        <a class ="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add new comment</a> 
                    </div>
                       <% campground.comments.forEach(function(elem){ %>
                       <hr>
                       <div class="row">
                           <div class="col-md-12">
                           <strong><%= elem.author.username %></strong>
                               <span class="pull-right"><%= elem.time %></span>
                               <p>
                                   <%= elem.text %>
                               </p>
                               <% if(currentUser && elem.author.id.equals(currentUser._id)){ %>
                               <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%= elem._id%>/edit">Edit</a>
                               <form id="delete-form2" action="/campgrounds/<%= campground._id %>/comments/<%= elem._id%>?_method=DELETE" method="POST">
                                   <input type="submit" class="btn btn-xs btn-danger" value="delete">
                               </form>
                           <% } %>
                           </div>
                       </div>
                        <% }); %>
                </div>
            </div> 
        </div>
    </div>
   <% include ../partials/footer %>